﻿@model Nemlig.Models.RssFeed
@{
    ViewBag.Title = "Rss News";
}

<div style="margin-top:20px;">
    <div class="input-group" style="min-width: 100%;">
        @Html.TextBoxFor(m => m.Url, new { @class = "form-control", style = "min-width: 100%;", @data_bind = "textInput : url", placeholder = "Introduce the RSS feed address." })
        <span class="input-group-btn" style="width: 150px;">
            <button class="btn btn-success btn-block" data-bind="click: readFeed">
                Search News <span data-bind="visible: isLoading" class="glyphicon glyphicon-refresh spinning"></span>
            </button>
        </span>
    </div>
    
    <div>
        <h4>Sorting Options</h4>
        <ul>
            <li><a href="#" data-bind="click: sortByDate">Sort by Publication Date</a></li>
            <li><a href="#" data-bind="click: sortByTitle">Sort by Title</a></li>
        </ul>
    </div>

    <div data-bind="visible: news().length > 0" style="margin-top: 50px;">
        <!-- ko foreach: news -->
        <!-- ko template: { name: 'RssFeedElementPartialView'} -->
        <!-- /ko -->
        <!-- /ko -->
    </div>

</div>

@Html.Partial("_RssFeedElementPartial")

@section scripts
{
    <script type="text/javascript">
        var viewModel = new Global.Models.RssFeed();
        ko.applyBindings(viewModel);
    </script>
}