﻿<script type="text/html" id="RssFeedElementPartialView">
    <div style="margin-top: 30px;">
        <h3><a data-bind="attr: { href: link, title: title }, text: title" target="_blank"> </a></h3>
        <blockquote>
            <p data-bind="text: description"></p>
            <footer>Published <span data-bind="text: publicationDate"></span></footer>
        </blockquote>
    </div>
</script>